<header class="d-flex justify-content-between align-items-center header">
  <%= link_to image_tag("https://img.icons8.com/officel/344/back.png"),categories_path, class: "back_btn" %>
  <h5>Transactions</h5>
  <div></div>
</header>
<% if flash[:notice] %>
  <p class="alert alert-primary" role="alert"><%= notice %></p>
<% end %>
<%= render @category %>
<% @expenses.each do |expense| %>
  <div>
    Expense Name:<%= expense.name %>
  </div>
<% end %>
<div>
  <%= link_to "Edit this category", edit_category_path(@category) %>
  <div class="d-flex justify-content-center fixed-bottom new-btn">
    <%= link_to "New transaction", new_expense_path %>
  </div>
</div>
